*{
    margin:0;
    padding:0;
    font-family:arial;
  }
  
  
  /* NAV-BAR */
  .nav-bar{
    position:fixed;
    top:0;
    width:100%;
    height:60px;
   background-color:#fefbf2
  }
  
  .logo img{
    height:52px;
    margin:6px 400px 2px 0px
  }
  
  .home{
    color:#f56f42;
  }
  
  .nav-options{
    display:flex;
    justify-content:flex-end;
    gap:45px;
    align-items:center;
    font-size:17px;
    font-weight:500;
    margin-right:30px;
  }
  
  
  /* HIDE-DIVS */
  .about:hover + .hidden-div1{ 
    display:block
  }
  .hidden-div1{
    background-color: white;
    margin-right:370px;
    position:absolute;
    top:60px;
    height:100px;
    width:18%;
    padding:5px;
    padding-top:27px;
    padding-bottom:10px;
    border-top:2px solid #1b5445;
    display:none
  }
  .hidden-div1 p{
    border-bottom:1px dotted #e8e7e3;
   font-size:17px;
    font-weight:500;
    margin:0px 0px 15px 18px;
  }
  
  .service:hover + .hidden-div2{
    display:block
  }
  .hidden-div2{
    position:absolute;
    top:60px;
    height:550px;
    width:94%;
    background-color: white;
    border-top:2px solid #1b5445;
    display:none ;
  }
  .vertical{
    display:flex;
    justify-content:space-evenly;
    height:540px;
  }
  
  .one,.two,.three,.fours,.fives,.sixs{
    margin-top:10px;
    font-weight:500;
    width:13%;
    border-bottom:1px ;
  }
  .one p,.two p,.three p,.fours p,.fives p,.sixs p{
    margin-top:14px;
    font-size:16px;
  }
  .h{
    font-size:18px;
    background-color:#e3dd9f;
    padding:7px;
    font-weight:900;
    margin-top:30px;
  }
  
  .work:hover + .hidden-div3{
    display:block
  }
  .hidden-div3{
    background-color: white;
    position:absolute;
    top:60px;
    height:130px;
    width:19%;
    padding:5px;
    padding-top:27px;
    margin-right:150px;
    border-top:2px solid #1b5445;
    display:none;
  }
  .hidden-div3 p{
    border-bottom:1px dotted #e8e7e3;
   font-size:16px;
    font-weight:500;
    margin:0px 0px 10px 18px;
  }
  
  
  /* PANEL-1 */
  .panel1-img{
    height:302px;
    width:100%;
    background-size:cover;
  }
  .panel1{
    height:680px;
    background-image:url("https://webwallah.in/wp-content/uploads/2025/05/her-cov-scaled.webp");
    background-size:cover;
  }
  .parahs{
    margin-left:100px;
    padding-top:130px;
  }
  #para-1{
    color:white;
    font-weight:900;
    font-size:44px
  }
  #para-2{
    color:#f9dd86;
    padding-top:23px;
    font-size:24px
  }
  #para-3{
  color:white;
    padding-top:23px;
    font-size:17px;
  }
  
  /* PANEL-2 */
  .panel2{
    background-color:#1b5445;
    height:320px;
  }
  .msg-btn{
    position:fixed;
    margin-left:1350px;
    top:710px;
    border-radius:50%;
    height:52px;
    width:52px;
    background-color:#1e4a2e;
    color:white;
    font-size:25px;
    border:none;
  }
  .msg{
    height:50px;
    color:white;
    font-size:45px;
    font-weight:900;
    display:flex;
    justify-content:center;
    padding-top:40px
  }
  .images{
    display:flex;
    gap:1px;
    justify-content:space-evenly;
    height:150px;
    width:100%;
    margin:60px 50px 0px 0px;
  }
  .first,.sec,.third,.four,.five,.six{
  background-size:cover;
  height:120px;
  width:12%;
  }
  .first{
    background-image:url("https://webwallah.in/wp-content/uploads/2024/05/innog.webp");
  }
  .sec{
    background-image:url("https://webwallah.in/wp-content/uploads/2025/02/phonelerame.webp");
  }
  .third{
    background-image:url("https://webwallah.in/wp-content/uploads/2024/04/Web-Wallah-Clients-Logo.022.webp");
  }
  .four{
    background-image:url("https://webwallah.in/wp-content/uploads/2024/04/respicite.webp");
  }
  .five{
    background-image:url("https://webwallah.in/wp-content/uploads/2024/04/Web-Wallah-Clients-jaahaaj.webp");
  }
  .six{
    background-image:url("https://webwallah.in/wp-content/uploads/2025/01/preetijd.001.png");
  }
  /* PANEL-3 */
  .panel3{
    height:1380px;
    width:100%;
    background-color:#fdf2f0;
  }
  .services{
    color:#e65e46;
    font-weight:900;
    font-size:24px;
    text-align:center;
    padding-top:70px;
    margin-bottom:28px;
    
  }
  .partner{
    color:black;
    padding:17px;
    margin-left:460px;
    background-color:#f2eba7;
    font-weight:700;
    font-size:27px;
    padding-bottom:20px;
  }
  .keywords{
   display:flex;
    justify-content:space-evenly;
    margin-top:50px;
    margin-left:30px;
  }
  .key1 p:hover{
    color:#e65e46;
  }
  .key2 p:hover{
    color:#e65e46;
  }
  .key3 p:hover{
    color:#e65e46;
  }
  .heading{
    color:#1b5445;
    font-size:35px;
    margin-top:10px;
  }
  .key1 p, .key2 p, .key3 p{
    margin-bottom:20px;
    font-size:20px;
  }
  
  .line{
    width:110%;
    margin-top:20px;
    margin-bottom:25px;
    height:2px;
    background-color:#e65e46;
  }
  
  
  /* PANEL4 */
  .panel-4{
    height:860px;
  }
  .p4-h1{
    color:#1b5445;
    text-align:center;
    font-size:44px;
    padding-top:50px
  }
  .p4-h3{
    padding-top:9px;
    font-size:22px;
    text-align:center;
  }
  
  .boxes1,.boxes2{
    margin-top:50px;
    display:flex;
  }
  .box1,.box2,.box3, 
  .box4, .box5, .box6{
    height:210px;
    width:30%;
    border-radius:10px;
    padding:40px 30px 5px 30px;
    background-color:#f9f0fc;
    margin-left:35px;
  }
  .box-heading{
    font-size:31px;
    padding-bottom:5px;
  }
  .box1{
    margin-left:60px;
  }
  .box2{
    background-color:#fdf2f0;
  }
  .box3{
    background-color:#fefbf2;
    margin-right:60px;
  }
  .box4{
    background-color:#e1eaf2;
    margin-left:60px;
  }
  .box5{
    background-color:fcf9e6
  }
  .box6{
    background-color:#edfced;
     margin-right:60px;
  }
  .box1 p,.box2 p,.box3 p,
  .box4 p,.box5 p,.box6 p{
    margin-top:15px;
    font-size:18px;
    padding:2px;
  }
  
  
  /* PANEL5 */
  .panel-5{
    background-color:#fefbf2;
    height:580px;
  }
  .p5-h1,.p11-h1{
    color:#e65e46;
    text-align:center;
    font-size:43px;
    padding-top:50px;
    font-weight:900;
  }
  .p5-h3,.p11-h3{
    font-size:22px;
    text-align:center;
    padding-top:10px;
  }
  
  .round-boxes{
    margin:50px 110px 0px 110px;
    width:85%;
    display:grid;
     grid-template-columns: repeat(3, 1fr);
    gap:1px;
  }
  .r-box1,.r-box2,.r-box3{
    text-align:center;
    height:250px;
    width:73%;
    border-radius:10px;
    padding:45px 30px 30px 30px;
    background-color:#f9f0fc;;
    border-top:4px solid #4ecf6c;
  }
  .r-box1{
    margin-left:30px;
  }
  .r-box2{
    margin-left:20px;
    background-color:#fdf2f0;
    border-top:4px solid #e65e46;;
  }
  .r-box3{
    background-color:#f9f0fc; 
    border-top:4px solid #8225b8;
  }
  .r-box1 p,.r-box2 p,.r-box3 p{
    padding-top:25px;
  }
  .r-heading{
    font-size:30px;
  }
  
  
  /* PANEL-6 */
  .panel-6{
    height:780px;
  }
  .p6-h1,.p7-h1{
    color:#1b5445;
    text-align:center;
    font-size:42px;
    padding-top:50px
  }
  .p6-h3,.p7-h3{
    font-size:22px;
    text-align:center;
    padding:10px;
  }
  .p6-divs{
    display:flex;
    justify-content:space-evenly;
    margin-top:55px;
    height:230px;
  }
  .img1,.img2,.img3{
    height:220px;
    width:26%;
    background-size:cover;
  }
  
  .img1{
    background-image:url("https://webwallah.in/wp-content/uploads/2025/03/Miriam.webp");
    margin-left:85px;
  }
  .img2 {
    background-image:url("https://webwallah.in/wp-content/uploads/2025/03/Taco.webp");
  }
  .img3{
    background-image:url("https://webwallah.in/wp-content/uploads/2025/03/Rashmi.webp");
    margin-right:85px;
  }
  
  .div-info{
    display:flex;
    justify-content:space-evenly;
  }
  .info1,.info2,.info3{
    height:200px;
    width:30%;
    text-align:center;
  }
  .info1{
    margin-left:70px;
  }
  .info3{
    margin-right:70px;
  }
  .info1 h2,.info2 h2,.info3 h2{
    margin-left:20px;
    font-size:31px;
  }
  .info1 p,.info2 p,.info3 p{
    margin:20px;
    padding-top:5px;
    font-size:18px;
  }
  
  .info-btn{
    margin:5px 0px 0px 20px;
    background-color:red;
    color:white;
    padding:22px 32px 22px 32px;
    font-weight:900;
    font-size:18px;
    border:none;
    border-radius:5px;
  }
  
  .btn-div{
    display:flex;
    justify-content:center;
  }
  
  .p6-btn{
    background-color:#1b5445;
    color:white;
    border:none;
    border-radius:5px;
    font-size:18px;
    font-weight:900;
    padding:19px 27px 19px 25px;
    margin:20px 0px 0px 20px;
  }
  
  
  /* PANEL-7 */
  .panel-7{
    height:860px;
    background-color:#edf2f0;
  }
  
  .swiper {
    width: 85%;
    height: 320px;
    position:relative;
    margin-top:40px;
  }
  
  .swiper-slide{ 
    display: flex;
    align-items: center;
    justify-content:center;
    text-align:center;
  }
  .swiper-slide h3{ 
    margin-bottom:8px;
    font-weight:600;
    font-size:25px;
  }
  .swiper-slide img{  
    height:85%;
    width:100%;
    border-radius:7px;
    object-fit: cover;
    margin-top:39px;
  }
  
  /* Optional: Center pagination bullets */
  
  .swiper-pagination{
    height:190px;
  }
  
  
  
  /* PANEL-8 */
  .panel-8{
    background-color:#e65e46;
    height:500px;
  }
  
  .p8-h1{
    color:#f9dd86;;
    text-align:center;
    font-size:46px;
    padding-top:70px
  }
  .p8-h3{
    text-align:center;
    margin-top:10px;
    color:white;
    font-size:22px;
  }
  #speacial-2{
    text-align:center;
    color:white;
    font-size:22px;
  }
  
  .price-boxes{
    display:flex;
    justify-content:space-evenly;
    margin-top:40px;
    height:65px;
  }
  .p-box1,.p-box2,.p-box3{
    height:72px;
    width:25%;
    background-color:white;
    border-radius:10px;
    display:flex;
    justify-content:center;
    align-items:center;
  }
  .box-p{
    font-weight:900;
    font-size:29px;
  }
  
  
  /* PANEL-9 */
  .panel-9{
    height:230px;
  }
  .smile-panel{
    display:flex;
  }
  .smile{
    background-image:url("https://webwallah.in/wp-content/uploads/2024/04/smile.png");
    height:100px;
    width:10%;
    margin:70px;
  }
  .love{
    height:200px;
    width:30%;
    margin:70px
  }
  .love1{
    font-weight:800;
    font-size:27px
  }
  .love2{
    font-weight:900;
    color:#e65e46;
    font-size:39px
  }
  
  
  /* PANEL-10 */
  .panel-10{
    height:750px;
  }
  
  /*PANEL 11 */
  .panel-11{
    height:570px;
    background-color:#fdf2f0;
  }
  .reward-img{
    display:flex;
    justify-content:center;
    margin-top:30px;
    gap:10px
  }
  
  .r-img1{
    background-image:url("https://www.devwebtechnology.com/assets/img/Goodfirms-Badge.png");
    background-size:cover;
    padding-left:40px;
    width:20%;
    height:340px;
  }
  .r-img2{
    background-image:url("https://www.badiedesigns.com/wp-content/uploads/2024/11/DesignRush-Top-Design-Agencies-in-Georgia.png");
    object-fit:cover;
    width:15%;
    height:300px;
  /*  margin-top:30px*/
  }
  .r-img3{
    background-image:url("https://mystique.ca/wp-content/uploads/2025/01/top_clutchco_web_design_company_government_canada.png");
    background-size:cover;
    height:325px;
    width:21%;
   /* margin-top:50px;*/
  }
  
  
  /* PANEL-12 */
  .panel-12{
    height:510px;
    background-color:#22543e
  }
  .footer-divs{
    display:flex;
    justify-content:space-evenly;
    padding-top:80px;
    margin-left:50px;
    gap:15px
  }
  .div-1,.div-2,.div-3,
  .div-4,.div-5{
    color:white;
    height: 300px;
    width:18%;
  }
  .div-1 h3,.div-2 h3,.div-3 h3,
  .div-4 h3,.div-5 h3{
  font-weight:700;
  font-size:22px;
  } 
  
  .div-1 p,.div-2 p,.div-3 p,
  .div-4 p,.div-5 p{
   margin-top:14px;
    font-size:15px;
    color:#edf0f5;
  }
  
  .line2{
    font-weight:900;
    color:grey;
    width:21%;
    margin:14px 0px 24px 0px;
  }
  
  .copyright{
    margin-left:90px;
    margin-top:20px;
    background-color:white;
    height:75px;
    width:87%;
    border-radius:40px;
    display:flex;
    justify-content:center;
    gap:30px;
    align-items:center;
  }
  .c-1{
    font-size:16px;
    margin-right:130px;
  }
  
  .c-2{
    font-size:16px;
    margin-left:130px;
  }
  .host{
    margin-left:290px;
    font-weight:700;
    margin-top:5px
  }
  .brand{
    margin-top:5px;
  }
  .a-img{
    height:90px;
    width:90%;
  }
  .a-img img{
    height:30px;
    margin-top:10px;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  